<nz-layout class="layout">
  <nz-header>
    <div class="logo">
    </div>
  </nz-header>
  <nz-content style="height: 85vh;">
    <nz-layout style="padding:2px 0;background: #fff;">
      <ul nz-menu [nzMode]="'horizontal'" style="padding-left: 30px">
        <ng-container *ngFor="let item of menu">
          <li nz-menu-item (click)="toggle(item)">
            <i class="{{item.class}}"></i> {{item.name}}
          </li>
        </ng-container>
      </ul>
      <nz-content style="padding: 0 24px; min-height: 80vh;">
        <router-outlet></router-outlet>
      </nz-content>
    </nz-layout>
    <nz-footer style="text-align: center;">Ant Design ©2017 Implement By Angular</nz-footer>
  </nz-content>
</nz-layout>
