<div nz-row style="margin: 4px 0">
  <div nz-col [nzOffset]="10" class="table-title">测试数据表格</div>
  <div nz-col nzOffset="20">
    <nz-input-group nzSearch [nzSuffix]="suffixIconButton">
      <input type="text" #searchText nz-input placeholder="搜索">
    </nz-input-group>
    <ng-template #suffixIconButton>
      <button nz-button nzType="primary" nzSearch><i class="anticon anticon-search"></i></button>
    </ng-template>
  </div>
</div>
<nz-table
  #rowSelectionTable
  [nzData]="data | nesMenu: searchText.value"
  (nzCurrentPageDataChange)="currentPageDataChange($event)"
  (nzPageIndexChange)="refreshStatus()"
  (nzPageSizeChange)="refreshStatus()">
  <thead>
  <tr>
    <th nzShowCheckbox [(nzChecked)]="allChecked" [nzIndeterminate]="indeterminate"
        (nzCheckedChange)="checkAll($event)"></th>
    <th [nzFilters]="filterNameList" [nzShowFilter]="showFilter" (nzFilterChange)="search($event,searchAddressList)">
      Name
    </th>
    <th>Age</th>
    <th>Address</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let data of rowSelectionTable.data">
    <td nzShowCheckbox [(nzChecked)]="data.checked" [nzDisabled]="data.disabled"
        (nzCheckedChange)="refreshStatus()"></td>
    <td>{{data.name}}</td>
    <td>{{data.age}}</td>
    <td>{{data.address}}</td>
  </tr>
  </tbody>
</nz-table>

<div [froalaEditor]='options' style="width: 95%;margin: 0 auto;"></div>
<div style="z-index: 9999;width: 100%; position: relative">
  <a href="https://www.froala.com/wysiwyg-editor?k=u"
     style="padding: 5px 10px;color: #FFF;text-decoration: none;background: #EF5350;display: block;font-size: 15px;"
     target="_blank">Unlicensed copy of the Froala Editor. Use
    it legally by purchasing a license.</a></div>

<div appBankAccount="" (everySecond)="everySecond()" (five5Secs)="everyFiveSeconds()">
</div>
